<div>
  <h1>Editable</h1>
  {{star-rating rating onClick=(action "setRating")}}
</div>
<div>
  <h1>Whole Numbers</h1>
  {{star-rating rating onClick=(action "setRating") wholeOnly=true}}
</div>
<div>
  <h1>Readonly</h1>
  {{star-rating 2.5 readOnly=true}}
</div>
<div>
  <h1>didReceiveAttrs</h1>
  {{star-rating updateableRating readOnly=true}}
</div>
<div>
  <h1>Any Percent</h1>
  {{star-rating 3.7 readOnly=true anyPercent=true}}
  <br>
  {{star-rating 2.2 readOnly=true anyPercent=true}}
</div>
